.root {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;

	.signUp {
		margin-top: 20px;

		text-decoration: underline;
		cursor: pointer;

		&:hover {
			color: #4083d2;
		}
	}
}
