.root {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 60%;

	.login {
		margin-top: 20px;

		text-align: center;
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			color: #4083d2;
		}
	}
}
