.root {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 50px;

	border-radius: 2px;

	transform: translate(-50%, -50%);
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;

	.buttons {
		display: flex;
		gap: 10px;
		margin-top: 10px;
	}
}
